defmodule Torngen.Client.Schema.<%= schema.reference %> do
  @moduledoc """
  """

  @behaviour Torngen.Client.Schema

  @type t :: [<%= schema.types |> Enum.map(fn type -> Torngen.Generator.Elixir.Schema.resolve_type(type, spec) end) |> Enum.join(" | ") %>]
end
