defmodule Torngen.Client.Schema.<%= schema.reference %> do
  @moduledoc false

  @behaviour Torngen.Client.Schema

  defstruct [<%= for pair <- schema.pairs do %>
    :<%= pair.key %>,<% end %>
  ]

  @type t :: %__MODULE__{<%= for pair <- schema.pairs do %>
    <%= pair.key %>: nil,<% end %>
  }
end
