import typing
<%= for import <- schema |> Torngen.Generator.Python.Schema.filter_imports(spec) do %>
from .<%= import |> Macro.underscore() %> import <%= import %><% end %>

<%= if schema.type == :string do %>
<%= schema.reference %> = typing.Literal[<%= Enum.map_join(schema.values, ", ", fn value -> "\"" <> value <> "\"" end) %>]
<% else %>
<%= schema.reference %> = typing.Literal[<%= Enum.join(schema.values, ", ") %>]
<% end %>
