import typing
<%= for import <- schema |> Torngen.Generator.Python.Schema.filter_imports() do %>
from .<%= import |> Macro.underscore() %> import <%= import %><% end %>

<%= schema.reference %> = typing.NewType("<%= schema.reference %>", <%= Torngen.Generator.Python.Schema.resolve_type(schema, spec) %>)
